header {
    background-color: #244751;
    color: #E8FDFF;
    font-family: 'Mogra', cursive;
}    

body {
    background-color: whitesmoke;
}

main {
    background-color: white;
    padding: 16px;
    font-family: 'Bubbler One', sans-serif;
}

.post {
    margin-bottom: 48px;
}
