html {
    height: 100%;
    
}

header {
    background-color: #244751;
    color: #E8FDFF;
    font-family: 'Mogra', cursive;
}    

body {
    background-color: whitesmoke;
    height:100%;

}

main {
    background-color: white;
    padding: 16px;
    font-family: 'Bubbler One', sans-serif;
}

.post {
    margin-bottom: 48px;
}

